p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#title {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.recipe {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: lightgreen;
    outline-style: auto;
    outline-color: lightgreen
}
img {
    height: auto;
    width: 300px;
}